<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="DataLink" connectionString="Data Source=10.0.4.230;Initial Catalog=sciencebbs;Persist Security Info=True;User ID=sa;Password=123321qq" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
